<ion-content [fullscreen]="true" class="ion-padding ion-text-center" color="primary">
<!--  <img src="assets/images/logo.png" alt="logo" class="logo">-->
  <ion-icon name="happy-outline"></ion-icon>

  <div class="title">
    <h2>Welcome</h2>
    <p>Enjoy the world of programming with <br> Ionic + Angular Login Screen</p>
   </div>


  <div class="ion-margin-top buttons">
    <ion-button expand="block" class="ion-margin-top outline" (click)="register()">SIGN UP</ion-button>
    <ion-button expand="block" class="ion-margin-top" (click)="login()">LOGIN</ion-button>
  </div>
</ion-content>
