ion-header {
  background: var(--ion-color-light);

  app-shrink-header {
    display: block;
    overflow: hidden;

    ion-grid {
      background: var(--ion-color-primary);
      margin-top: -5px;
      padding-bottom: 120px;
      border-radius: 0 0 15px 15px;
    }

    .popover {
      background: var(--ion-color-white);
      color: var(--ion-color-light);
      border-radius: 10px;
      width: 90%;
      margin: -120px auto auto;

      ion-item {
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon {
          margin-right: 10px;
          font-size: 1.8rem;
          color: var(--ion-color-primary);
        }

        ion-label {
          margin: 0;

          h1 {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0;

            ion-text:nth-child(2) {
              font-size: 0.8rem;
              font-weight: bold;
              margin-left: 5px;
            }
          }

          p {
            font-size: 0.8rem;
            margin: 0;
          }
        }
      }
    }
  }

  .segment-container {
    background: var(--ion-color-light);

    ion-segment {
      --background: var(--ion-color-white);
      --color-selected: var(--ion-color-primary);
      --margin-top: 5px;
      --margin-bottom: 5px;
      border-radius: 20px;

      ion-segment-button {
        --background-checked: var(--ion-color-primary);
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-white);
        --color: var(--ion-color-primary);
        --border-radius: 20px;
        font-weight: bold;
        font-size: 0.85rem;
      }
    }
  }
}

ion-content {
  --background: var(--ion-color-light);

  ion-list {
    background: var(--ion-color-light);

    .heading {
      font-family: lato, sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
    }

    .request-item, .donor-item {
      width: 90%;
      margin: auto auto 15px;
      padding: 0;
    }

    .donor-item {
      ion-avatar {
        .blood-badge {
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          font-size: 0.8rem;
          color: var(--ion-color-white);
        }
      }
    }

    .request-item {
      ion-thumbnail {
        min-width: 5rem;
        min-height: 6rem;
        border-radius: 10px;
        background: var(--ion-color-secondary);

        .request-badge {
          background-color: var(--ion-color-primary);
          border-radius: 10px 10px 0 0;
          padding: 5px;
          font-weight: bold;
          font-size: 0.8rem;
          text-transform: uppercase;
          color: var(--ion-color-white);

          ion-text {
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--ion-color-white);
          }
        }

        .request-group {
          ion-text {
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--ion-color-white);
          }
        }
      }

      ion-label {
        ioin-note {
          font-size: 1.1rem;
          letter-spacing: 0.5px;
        }

        p {
          margin-top: 5px;

          ion-text {
            span {
              color: var(--ion-color-dark);
              padding: 0 5px;
            }
          }
        }
      }

      ion-fab {
        //margin-top: -10px;
        margin-right: -10px;

        ion-fab-button {
          --box-shadow: none;
        }
      }
    }
  }


}
