ion-header {
  background: transparent;

  ion-toolbar {
    --background: transparent;

    ion-avatar {
      width: 4vh;
      height: 4vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  ion-item {
    --background: transparent;

    ion-avatar {
      background: white;
    }
  }
}

ion-content {
  * {
    font-family: 'Poppins', sans-serif;
  }

  .main-header {
    //width: 100%;
    //height: 200px;
    //background: linear-gradient(136deg, #4f46e5 0%, #9236ff 100%);
    height: 45vh;
    width: 150%;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 10%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -11vh;
    margin-top: -60px;
  }

  ion-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(10vh);
    padding-bottom: 8vh;

    ion-row {
      ion-col {
        ion-label {
          ion-note {
            font-size: 0.7rem;
          }

          ion-chip {
            ion-label {
              font-size: 1.4rem;
              font-weight: bold;
              letter-spacing: 0.5px;
              text-shadow: 1px 1px 1px var(--ion-color-medium);
            }
          }
        }

        b {
          font-size: 1.2rem;
        }

        ion-button {
          height: 2.5rem;
          transform: translateY(10%);
          text-transform: uppercase;

          ion-text {
            font-size: 0.8rem;
            font-weight: bold;
          }

          ion-icon {
            font-size: 1rem;
          }
        }

        ion-card {
          box-shadow: -1px 8px 10px -8px rgb(87, 86, 86);
          border-radius: 10px !important;
          margin: 10px 0;
          transition: all 0.3s ease-in-out;

          ion-thumbnail {
            width: 8vh;
            height: 8vh;
            border-radius: 20px;

            img {
              width: 4vh;
              height: 4vh;
              transform: translateY(50%);
            }
          }

          ion-card-content {
            ion-label {
              font-weight: normal;
              text-shadow: 1px 1px 10px var(--ion-color-medium);
              letter-spacing: 0.5px;
            }
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

    ion-list {
      background: transparent;

      ion-item {
        width: 95%;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 2vh;

        p {
          font-size: 0.65rem;
        }

        ion-text {
          font-weight: 800;
        }
      }
    }
  }
}
