/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, var(--ion-color-secondary)));

  * {
    font-family: lato, sans-serif;
  }

  letter-spacing: 0.5px;

  .main-header {
    width: 120%;
    height: 25vh;
    background: linear-gradient(90deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
    box-shadow: 0 1px 10px var(--ion-color-light);
    border-radius: 0 0 50% 50%;
    margin-left: -4.5vh;

    .header-avatar {
      //transform: translateY(-3vh);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      ion-avatar {
        width: 8vh;
        height: 8vh;
        background: var(--ion-color-white);
        margin-bottom: 5px;
        border: 7px solid var(--ion-color-primary);

        ion-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      ion-label {
        font-weight: bold;
        font-size: 1.2rem;

        p.user-details {
          margin-top: 3px;
          text-align: center;

          ion-text {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .menu-items {
    padding-left: 20px;

    ion-item.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.14);
      border-left: 5px solid var(--ion-color-tertiary);

      ion-label {
        color: var(--ion-color-tertiary);
        font-weight: bold;
      }
    }

    ion-item.selected ion-icon {
      color: var(--ion-color-tertiary);
    }
  }
}

ion-menu ion-footer {
  //background: var(--ion-color-secondary);
  ion-toolbar {
    border-radius: 10px 10px 0 0;
  }
}
