ion-tabs {
  //for floating tab
  --border: 0;

  ion-tab-bar {
    //disable this in floating button
    //--background: transparent;
    --border: 0;
    position: absolute;
    bottom: -1px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    //background-color: #fff;
    //--background: rgba(255, 255, 255, 0.925);
    //padding: 10px;

    ion-tab-button {
      --background: var(--ion-color-white);
      --color: var(--ion-color-medium);
      --color-selected: var(--ion-color-dark-tint);

      ion-icon {
        font-size: 1.5rem;
      }

      //for floating tab
      ion-label {
        font-weight: bold;
        //font-size: 1rem;
        margin-top: 20%;
      }
    }
  }

  //Gradient rounded button
  //svg{
  //  width: 80px;
  //  margin-top: 16px;
  //  path{
  //    fill: var(--ion-color-white);
  //  }
  //}
  //
  //ion-tab-button.search{
  //  margin-right: -1px;
  //  margin-left: -2px;
  //  border-top-right-radius: 20px;
  //}
  //
  //ion-tab-button.wishlist{
  //  margin-left: -1px;
  //  margin-right: -2px;
  //  border-top-left-radius: 20px;
  //}

  //ion-fab {
  //  ion-fab-button {
  //    --background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  //    ion-icon {
  //      font-size: 2rem;
  //    }
  //  }
  //}


  //floating rounded button
  ion-fab {
    ion-fab-button {
      --background: linear-gradient(to bottom, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
      // --background: var(--ion-color-white);
      margin-bottom: 3vh;
      border: 1vh solid var(--ion-color-white);
      border-radius: 50%;
      width: 50px;
      height: 50px;

      ion-icon {
        font-size: 1.5rem;
        // font-size: 4rem;
      }
    }
  }

  ion-fab.right-align {
    margin-right: 24%;
  }

  ion-fab.left-align {
    margin-left: 24%;
  }

  .animated {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
