ion-content {
  --background: url('../../../assets/images/slide-01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  //filter: brightness(0.9);

  ion-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  ion-row {
    ion-img {
      width: 10vh;
      height: 10vh;
    }

    ion-label {
      margin-top: 10px;

      h1, p, ion-button {
        margin-left: 8px;
      }

      h1 {
        font-size: 1.56rem;
        font-weight: bold;
        color: var(--ion-color-white);
        text-transform: uppercase;
      }

      p {
        max-width: 350px;
        font-size: 1rem;
        color: var(--ion-color-white);
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      ion-button {
        margin-left: 8px;
      }
    }
  }
}

ion-footer {
  ion-list {
    border-radius: 20px 20px 0 0;

    ion-list-header {
      ion-label {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    ion-item-group {
      form {
        ion-item {
          ion-label {
            font-size: 1rem;
            margin-bottom: 1rem;
          }

          ion-input {
            font-size: 0.9rem;

            ion-icon {
              font-size: 1rem;
              margin-right: 1vh;
            }
          }
        }

        .error {
          //margin-top: 10px;
          font-size: 0.9rem;
          color: var(--ion-color-danger);
        }

        p {
          margin-top: 10px;
        }

        ion-button {
          height: 5vh;
          width: 80%;
          margin: 5vh auto;
        }
      }
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      ion-icon {
        font-size: 1.75rem;
        background: var(--ion-color-primary);
        color: var(--ion-color-white);
        padding: 10px;
        border-radius: 50%;
      }
    }
  }
}
