/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/SegoeUI.ttf');
}

@font-face {
  font-family: 'SegoeUI-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/SegoeUIBold.ttf');
}

@font-face {
  font-family: 'SegoeUI-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/SegoeUIBoldItalic.ttf');
}

@font-face {
  font-family: 'SegoeUI-Italic';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/SegoeUIItalic.ttf');
}

* {
  font-family: 'SegoeUI';
}

ion-button:focus {
  outline: none !important;
}

ion-buttons:focus {
  outline: none !important;
}

// Removing iOS and Android Header line for entire app
ion-toolbar {
  --border-width: 0 !important;
}

.header-md::after {
  background: none;
}

ion-menu {
  --width: 100%;
}

.main-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-list {
    width: 100%;

    ion-item {
      font-size: 18px;
      font-weight: 100;
    }

    .selected {
      border-left: 5px solid var(--ion-color-primary);
      color: var(--ion-color-primary);
    }
  }

  ion-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 24px;
    --ripple-color: transparent;
  }
}
