<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Welcome</ion-text>
        <p>
          <ion-text color="white"><strong>O.Abdelaaziz</strong></ion-text>
        </p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/images/image.jpg" alt="avatar"/>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    @if (accounts.length > 0) {
      <ion-row class="banners">
        <ion-col>
          <swiper-container [modules]="swiperModules"
                            [slidesPerView]="1"
                            [pagination]="{ clickable: true ,dynamicBullets: true}"
                            #swiper>
            @for (account of accounts; track $index) {
              <swiper-slide>
                <div>
                  <ion-label>
                    <span>Total Balance</span>
                    <p class="account-balance">
                      <ion-text color="white">${{ account?.balance }}</ion-text>
                    </p>
                    <span>{{ account?.acc_no }}</span>
                  </ion-label>
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </ion-col>
      </ion-row>
    }
    @if (features.length > 0) {
      <ion-row class="ion-text-center feature-list">
        <ion-col>
          <swiper-container [slidesPerView]="3.5">
            @for (feature of features; track $index) {
              <swiper-slide>
                <div>
                  <ion-button slot="icon-only" [color]="feature?.color">
                    <ion-icon [name]="feature?.icon"></ion-icon>
                  </ion-button>
                  <ion-label>{{ feature?.name }}</ion-label>
                </div>
              </swiper-slide>
            }
          </swiper-container>
        </ion-col>
      </ion-row>
    }

    @if(transactions.length > 0) {
      <ion-list class="transactions">

        <ion-list-header>
          <ion-label color="medium">Transactions</ion-label>
        </ion-list-header>

        <ion-item-group>
          @for(transaction of transactions; track $index){
            <ion-item lines="full">
              <ion-thumbnail slot="start" class="ion-text-center">
                <img [src]="'/assets/images/' + (transaction.amount >= 0 ? 'up-right.png' : 'down-left-arrow.png')" />
              </ion-thumbnail>
              <ion-label>
                <ion-text>{{transaction?.to}}</ion-text>
                <p>
                  <ion-text>
                    {{transaction?.date | date: 'MMM d, y'}}
                  </ion-text>
                </p>
              </ion-label>
              <ion-text slot="end" color="primary">
                {{transaction.amount >= 0 ? '$' + transaction.amount : '-$' + (transaction.amount * (-1))}}
              </ion-text>
            </ion-item>
          }
        </ion-item-group>

      </ion-list>
    }
  </ion-grid>
</ion-content>
