ion-content {
  --background: url(../../assets/images/ecomm1.png) no-repeat center center/cover;

  ion-grid {
    transform: translateY(10vh);

    ion-label {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1.5;
    }

    p {
      margin: 0;

      ion-text {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.5;
      }
    }
  }
}

ion-footer {
  ion-row {
    background: transparent;
    display: block;

    ion-fab-button {
      margin-right: 2.5vh;
    }

    ion-list {
      border-radius: 20px 20px 0 0;

      ion-list-header {
        ion-label {
          font-size: 1.8rem;
          font-weight: bold;
          color: var(--ion-color-dark-tint);
        }
      }

      ion-item-group {
        ion-item {
          ion-label {
            color: var(--ion-color-dark-tint);
          }

          ion-input, ion-text {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
