<ion-content [fullscreen]="true">
  <div class="header">
    <h3>Welcome Back, <span id="username">Jack</span></h3>
    <h1>Please login <br> to continue</h1>
  </div>
  <div class="form">
<!--    <ion-item>-->
      <ion-input type="email" placeholder="jack@domain.com"></ion-input>
<!--    </ion-item>-->
<!--    <ion-item>-->
      <ion-input type="password" placeholder="password"></ion-input>
<!--    </ion-item>-->
  </div>
  <div class="button">
      <span>Login</span>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </div>
  <div class="footer">
    <h3>Don't have an account? <a href="javascript:void(0);" routerLink="/register">Register</a></h3>
  </div>
</ion-content>
