ion-card {
  box-shadow: rgb(0 0 0 / 10%) 2px 4px 20px 3px;
  border-radius: 10px;
  margin: 1.2rem 0 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;

    ion-img {
      width: 80%;
    }
  }

  ion-card-title {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--ion-color-dark-tint);
  }

  ion-card-subtitle {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
    color: var(--ion-color-dark-tint);
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;
      gap: 0.5rem;

      ion-button {
        font-size: 0.2rem;
        --border-radius: 50%;
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;
        width: 0.2rem;
        height: 0.2rem;

        ion-icon {
          font-size: 1rem;
          color: var(--ion-color-light);
        }
      }
    }
  }
}
