<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Apply Coupon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list lines="full" class="ion-margin-bottom">
    <ion-radio-group [(ngModel)]="selectedCoupon" (ionChange)="selectCoupon($event.detail.value)">
      @for (coupon of coupons; track coupon.code) {
        <ion-item class="coupon-item">
          <ion-radio slot="start" [value]="coupon" color="primary"></ion-radio>
          <ion-label class="ion-text-wrap">
            <h3>{{ coupon.code }}</h3>
            <p>{{ coupon.description }}</p>
            <p class="valid-until">Valid until: {{ coupon.validUntil | date:'mediumDate' }}</p>
          </ion-label>
          <ion-text slot="end" color="success" class="discount">
            {{ coupon.discount * 100 }}% OFF
          </ion-text>
        </ion-item>
      }
    </ion-radio-group>
  </ion-list>

  <div class="ion-padding">
    <ion-button
      expand="block"
      color="primary"
      (click)="applyCoupon()"
      [disabled]="!selectedCoupon">
      Apply Coupon
    </ion-button>

    @if (appliedCoupon) {
      <ion-button
        expand="block"
        fill="outline"
        color="danger"
        class="ion-margin-top"
        (click)="removeCoupon()">
        Remove Coupon
      </ion-button>
    }
  </div>
</ion-content>


