ion-header {
  border-bottom: 1px solid var(--ion-color-light);

  ion-toolbar {

    ion-title {
      font-family: cursive, sans-serif;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--ion-color-dark);
    }
  }
}

ion-content {
  ion-grid {
    //margin-bottom: 10vh;

    ion-row {
      //margin-bottom: 5vh;

      ion-col {
        ion-item {
          --inner-padding-end: 0;
          --padding-start: 10px;

          ion-label {
            font-size: 0.9rem;

            p {
              font-size: 0.8rem;
            }
          }

          .btn-like {
            --background: transparent;
            --background-hover: rgba(0, 0, 0, 0.1);
            --background-activated: rgba(0, 0, 0, 0.1);
            --background-focused: rgba(0, 0, 0, 0.1);
            --border-color: var(--ion-color-medium);
            margin: 0 5px 0 0;

            ion-icon {
              font-size: 1.2rem;
            }
          }

        }

        .post-image {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 200px; //or 30vh
          width: 100%;
          filter: brightness(0.8);
        }

        .post-video {
          width: 100%;
          height: 200px;
          //min-height: 50vh;
        }

        ion-item.details {
          min-height: 0 !important;
          --padding-start: 10px !important;
          --padding-end: 10px !important;
          ion-label {
           margin-top: 0;
          }
          p{
            margin-top: 3px;
          }

          ion-label, p{
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}
