ion-content {
  --background: #e0dfe6;

  .header {
    height: 50%;
    background: #7972e6;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 0 0 50px 50px;

    .app-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 60px;

      ion-icon {
        font-size: 24px;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    align-self: center;
    margin-top: 20%;

    img {
      object-fit: cover;
    }
  }

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 5px;
  }

  ion-card {
    position: absolute;
    left: 5%;
    top: 37%;
    right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;

    ion-card-content {
      h1 {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 10px;
      }

      ion-button {
        --box-shadow: none;
        --border-radius: 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 40px;
      }

      .line-text {
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //margin-top: 10px;
        //margin-bottom: 10px;
        position: relative;
        padding: 2px;
        margin-top: 40px;
        height: 20px;

        .lines {
          display: block;
          background: #858585;
          height: 1px;
        }

        .text {
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 5px;
          background: #fff;
          color: #858585;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
          line-height: 1.2;
          text-transform: uppercase;
          z-index: 1;
        }

      }

      .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0;

        ion-button {
          --border-radius: 10px;

          &.btn-facebook {
            --background: #3b5998;
          }

          &.btn-google {
            --background: #dd4b39;
          }

          &.btn-twitter {
            --background: #1da1f2;
          }

          &.btn-linkedin {
            --background: #0077b6;
          }

          &.btn-instagram {
            --background: #e4405f;
          }
        }
      }
    }
  }
}
