.container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.page-header h1 {
  margin-top: 0;
}

.buttons-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  ion-button {
    --box-shadow: none;
    height: 50px;

    &.main-button {
      --background: linear-gradient(90deg, rgba(102, 126, 234, 1) 0%, rgba(100, 182, 255, 1) 100%);
      position: relative;
      margin-bottom: 5px;

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 0;
        width: 80%;
        height: 40px;
        z-index: -1;
        box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 1);
      }
    }
  }
}
