<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Bolt!</h1>
      <h3>Explorer amazing things with us.</h3>
    </div>
    <img src="./assets/welcome.png" alt="welcome">
    <div class="buttons-container">
      <ion-button expand="block" class="main-button" routerLink="/login">Sign in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/register">Sign up</ion-button>
    </div>
  </div>
</ion-content>
