.md {
  ion-segment {
    width: 80%;
    margin: auto;
  }
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-secondary);
    ion-segment {
      --background: var(--ion-color-primary);
      ion-segment-button {
        --color: var(--ion-color-white);
        --color-checked: var(--ion-color-primary);
      }
    }
  }
}

ion-content {
  ion-list {
    margin-top: 2rem;
  }

  ion-list.transactions {
    border-radius: 8vh 8vh 0 0;
    background: var(--ion-color-secondary);
    padding-bottom: 10vh;
    ion-list-header {
      padding-inline-start: 3.5vh;
    }
    ion-list-header, ion-item {
      ion-label {
        font-size: 1.1rem;
      }
    }

    ion-item-group {
      padding: 0 3.5vh;
      ion-item {
        font-weight: bold;
        --background: transparent;
        --border-style: dashed;
        --border-color: var(--ion-color-tertiary);
        --padding-bottom: 1rem;
        --padding-top: 1rem;
        --padding-start: 0;
        ion-text[slot="end"] {
          font-size: 1rem;
        }
        p {
          font-size: 0.9rem;
          font-weight: normal;
          margin-top: 3px;
        }
        ion-thumbnail {
          height: 6vh;
          width: 6vh;
          border-radius: 10px;
          background: var(--ion-color-white);
          box-shadow: 0px 3px 6px rgb(3 181 170 / 4%);
          img {
            height: 4vh;
            width: 4vh;
            transform: translateY(25%);
          }
        }
      }
    }
  }
}
