<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-btn" routerLink="/home" routerDirection="back">
        <img src="./assets/back.svg" alt="back-arrow"/>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profile</h1>

  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input value="O.Abdelaaziz"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address Lane</ion-label>
      <ion-input value="22/06 A"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input value="Algeria"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input value="Male"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input value="info@me.come"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input value="+213 788 999 012"></ion-input>
    </ion-item>
  </div>
</ion-content>
