<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img src="./assets/scooter.jpg"></ion-img>
  </div>

  <div class="message-container">
    <h1>
      Get the <span class="text-warning">Fastest</span>
      <br> Delivery to your doorstep <br>
      <span class="text-danger">Guaranteed</span>
    </h1>
  </div>

  <div class="button-container">
    <ion-button expand="block" class="ion-margin-bottom light">Get Started</ion-button>
    <ion-button expand="block" class="ion-margin-bottom light" routerLink="/login">Login</ion-button>
    <ion-button expand="block" class="ion-margin-bottom" fill="outline" routerLink="/register">Sign Up</ion-button>
  </div>

  <div>
    <ion-text>
      <p>By clicking Get Started, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
      </p>
    </ion-text>
  </div>

  <div class="social-media-container">
    <ion-text>
      <p>Connect with us on social media</p>
    </ion-text>
    <div class="social-media-icons">
      <ion-icon name="logo-facebook" class="facebook"></ion-icon>
      <ion-icon name="logo-twitter" class="twitter"></ion-icon>
      <ion-icon name="logo-instagram" class="instagram"></ion-icon>
      <ion-icon name="logo-linkedin" class="linkedin"></ion-icon>
    </div>
  </div>

  <!--  <div>-->
  <!--    <ion-text>-->
  <!--      <p>Already have an account? <a href="#">Login</a></p>-->
  <!--    </ion-text>-->
  <!--  </div>-->

  <!--  <div>-->
  <!--    <ion-text>-->
  <!--      <p>Don't have an account? <a href="#">Sign Up</a></p>-->
  <!--    </ion-text>-->
  <!--  </div>-->
</ion-content>
