:host {
  display: block;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  width: 100%;
  background: var(--ion-background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
