ion-card {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  .image {
    width: 75px;
    height: 60px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
    padding: 5px;
    //overflow: hidden;
    //border-radius: 10px;
    //margin-bottom: 1rem;

    ion-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ion-card-header{
   padding: 10px 5px;
    ion-card-title{
      font-size: 1rem;
      font-weight: 600;
      color: var(--ion-color-dark-tint);
    }
  }
}

