ion-content {
  --background: #e0dfe6;

  .header {
    height: 33%;
    background: #7972e6;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 0 0 50px 50px;
    padding: 20px;

    .app-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      height: 60px;
      margin-bottom: 50px;

      ion-icon {
        font-size: 24px;
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: white;
        border-radius: 5px;
        align-self: center;

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }
    }

    h1 {
      font-size: 19px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .wrapper {
    position: absolute;
    top: 25%;
    left: 4%;
    right: 4%;

    .form-wrapper {
      box-shadow: none;
      border-radius: 20px;
      padding: 15px 10px;

      ion-item {
        --background: #efefef;
        --padding-start: 10px;
        --highlight-height: 0;
        --border-width: 0;
        --padding-top: 0;
        --min-height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;
        ion-icon{
          font-size: 18px;
        }
        ion-input{
          font-size: 14px;
          margin-left: 10px;
        }
      }

      ion-button {
        --border-radius: 20px;
        --box-shadow: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-top: 5px;
        margin-bottom: 10px;
        height: 40px;
      }
    }

    .line-text {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //margin-top: 10px;
      //margin-bottom: 10px;
      position: relative;
      padding: 2px;
      margin-top: 40px;
      height: 20px;

      .lines {
        display: block;
        background: #858585;
        height: 1px;
      }

      .text {
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 5px;
        background: #e0dfe6;
        color: #858585;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.2;
        text-transform: uppercase;
        z-index: 1;
      }

    }

    .social-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 0;
      border-radius: 20px;
      box-shadow: none;

      ion-button {
        --border-radius: 10px;
        color: white;

        &.btn-facebook {
          --background: #3b5998;
        }

        &.btn-google {
          --background: #dd4b39;
        }

        &.btn-twitter {
          --background: #1da1f2;
        }

        &.btn-linkedin {
          --background: #0077b6;
        }

        &.btn-instagram {
          --background: #e4405f;
        }
      }
    }
  }

}
