<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar"/>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" class="welcome-message">
    <ion-label>
      <ion-text>Hello, O.Abdelaaziz 🖐️</ion-text>
      <p>Welcome to Home Automation</p>
    </ion-label>
  </ion-item>

  <ion-card class="weather-card ion-padding-vertical">
    <ion-item lines="none" class="weather-header">
      <ion-icon slot="start" color="secondary" name="cloud"></ion-icon>

      <ion-label>
        Mostly Cloudy
        <p>Algeria, Algeria</p>
      </ion-label>

      <ion-text color="secondary" slot="end">22°C</ion-text>
    </ion-item>
    <ion-grid>
      <ion-row class="ion-text-center weather-details">
        <ion-col>27°C <span class="label">Sensible</span></ion-col>
        <ion-col>4% <span class="label">Sensible</span></ion-col>
        <ion-col>66% <span class="label">Precipitation</span></ion-col>
        <ion-col>68% <span class="label">Humidity</span></ion-col>
        <ion-col>55% <span class="label">Wind</span></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-item-divider>
    <ion-label>Your Rooms</ion-label>
    <ion-button slot="end" fill="clear">See All</ion-button>
  </ion-item-divider>
  <ion-grid>
    <ion-row>
      @for (room of rooms(); track room.id || $index) {
        <ion-col size="6">
          <app-room-card [room]="room"></app-room-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button
      size="large"
      color="danger"
      class="shadow-button"
      (click)="openAddRoomModal()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
