.header{
  margin-top: 10vh;
  margin-bottom: 8vh;

  h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--ion-color-dark-tint);
  }

  p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--ion-color-dark-tint);
  }
}
