ion-content {
  swiper-container {
    --swiper-pagination-color: var(--ion-color-light);
    --swiper-pagination-bullet-active-color: var(--ion-color-primary);
    height: 100%;

    div {
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: transparent;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    ion-button {
      --background: var(--ion-color-primary);
      --color: var(--ion-color-light);

      ion-text {
        --color: var(--ion-color-light);
        font-size: 1rem;
      }
    }
  }
}

//swiper-container::part(bullet-active) {
//  margin-bottom: 1vh;
//  width: 15px;
//  border-radius: 4px;
//  background-color: var(--ion-color-primary);
//  transition: all 0.3s ease-in-out;
//  &:hover {
//    //transform: scale(1.1);
//    width: 40px;
//  }
//}
//
//
//swiper-container::part(bullet) {
//  margin-bottom: 1vh;
//  width: 15px;
//  border-radius: 4px;
//  background-color: var(--ion-color-light);
//  opacity: 0.5;
//  transition: all 0.3s ease-in-out;
//}

swiper-container::part(bullet-active) {
  margin-bottom: 1vh;
  width: 40px;
  border-radius: 4px;
  background-color: var(--ion-color-primary);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

swiper-container::part(bullet) {
  margin-bottom: 1vh;
  width: 15px;
  border-radius: 4px;
  background-color: var(--ion-color-light);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;

  &:hover {
    width: 40px;
    opacity: 0.7;
  }
}
